@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

/* max-width: 1200px */
@media screen and (max-width: 1200px) {
  .menu-nav ul li:nth-last-child(n+2) {
    margin-right: 25px;
  }

  /* about */
  .about-row {
    column-gap: 30px;
  }
}

/* max-width: 992px */
@media screen and (max-width: 992px) {
  .header-top-rigth,
  .menu-nav {
    display: none;
  }

  .def-title {
    font-size: 40px;
    line-height: 50px;
  }

  /* banner */
  .s-banner {
    padding: 40px 0;
  }
  .banner-row {
    flex-direction: column;
    position: relative;
  }
  .banner-left {
    margin-bottom: 20px;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-descr {
    font-size: 16px;
  }
  .banner-btn {
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
    white-space: nowrap;
  }
  .banner-right {
    margin: 0 auto;
  }
  .banner-img {
    max-width: 330px;
  }
  .banner-logo {
    top: 100px;
  }
  .banner-circle {
    width: 50px;
  }

  /* about */
  .s-about {
    padding: 50px 0;
  }
  .about-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .about-left img {
    max-width: none;
    width: 100%;
  }
  .about-descr {
    font-size: 16px;
  }
  .about-list-wrap ul li {
    font-size: 16px;
  }

  /* features */
  .features-list {
    flex-wrap: wrap;
    column-gap: 0;
  }
  .features-item {
    width: 45%;
  }
  .features-item:nth-last-child(n + 2) {
    margin-bottom: 40px;
  }

  /* specialists 992 */
  .specialists-row {
    flex-wrap: wrap;
    column-gap: 0;
    justify-content: space-between;
  }
  .specialists-item {
    width: 48.5%;
    margin-bottom: 18px;
  }
}

/* max-width: 575px */
@media screen and (max-width: 575px) {
  /* def */
  .def-title-wrapper {
    max-width: 320px;
    margin-bottom: 30px;
  }
  .def-descr {
    font-size: 14px;
  }
  .def-title {
    font-size: 30px;
    line-height: 38px;
  }

  /* header */
  .header-top-location {
    margin-right: 15px;
    font-size: 12px;
  }
  .header-logo {
    margin-right: 20px;
  }
  .header-logo img {
    max-width: 120px;
  }
  .header-bottom-btn {
    padding: 10px 15px;
  }

   /* about */
   .s-about {
    padding: 50px 0;
  }
  .about-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-left {
    width: 100%;
    margin-bottom: 50px;
  }
  .about-left img {
    max-width: none;
    width: 100%;
  }
  .about-descr {
    font-size: 14px;
  }
  .about-list-title {
    font-size: 16px;
  }
  .about-list-wrap ul li {
    font-size: 14px;
  }
  .about-list-wrap ul li::before {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  /* features */
  .s-features {
    padding: 55px 0;
  }
  .features-list {
    flex-direction: column;
  }
  .features-item {
    max-width: 300px;
    width: 100%;
  }
  .features-icon {
    margin-bottom: 22px;
  }
  .features-icon img {
    max-width: 85px; 
  }
  .features-title {
    font-size: 20px;
  }
  .features-descr {
    font-size: 16px;
  }

  /* specialists 575 */
  .s-specialists {
    padding: 45px 0 30px;
  }
  .specialists-item {
    border-radius: 11px;
  }
  .specialists-footer {
    padding: 15px;
  }
  .specialists-name {
    font-size: 16px;
  }
  .specialists-profi {
    font-size: 12px;
  }

  /* price */
  .s-price {
    padding: 45px 0;
  }
  .s-price::after {
    display: none;
  }
  .price-wrap {
    padding: 25px 30px;
    border-radius: 10px;
  }
  .price-wrap .def-title-wrapper {
    margin-bottom: 30px;
  }
  .price-wrap .def-title {
    font-size: 23px;
  }
  .price-wrap .def-descr {
    font-size: 12px;
  }
  .price-list li {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 2px;
  }
  .price-list li:nth-last-child(n + 2) {
    margin-bottom: 17px;
  }
}