html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Source Sans 3';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #302d2d;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header start */
.header-top {
  padding: 14px 0;
  background-color: #2378C9;
}
.header-top-row {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}
.header-top-location {
  display: flex;
  align-items: center;
}
.header-top-location img {
  margin-right: 13px;
}
.header-top-rigth {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-top-phone {
  margin-right: 40px;
}
.header-top-email {
  margin-right: 55px;
}
.header-top-phone,
.header-top-email {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.header-top-phone img,
.header-top-email img {
  margin-right: 13px;
}
.header-top-social {
  display: flex;
  align-items: center;
}
.header-top-social a {
  transition: transform .3s ease;
}
.header-top-social a:hover {
  transform: rotate(360deg);
}
.header-top-social a:nth-last-child(n+2) {
  margin-right: 30px;
}
.header-top-social a img {
  max-width: 22px;
}
.header-bottom {
  padding: 20px 0;
}
.header-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img {
  max-width: 172px;
}
.menu-nav ul {
  display: flex;
  align-content: center;
}
.menu-nav ul li:nth-last-child(n+2) {
  margin-right: 40px;
}
.menu-nav ul li a {
  font-size: 18px;
  transition: color .35s ease;
}
.menu-nav ul li a:hover {
  color: #2378C9;
}
.header-bottom-btn {
  padding: 17px 29px;
  border-radius: 26px;
  font-size: 14px;
  color: #fff;
  background-color: #f86d6d;
  transition: background-color .35s ease;
}
.header-bottom-btn:hover {
  background-color: #e25e5e;
}
/* Header end */